# Hugo-specific files
/public/
/resources/
/hugo_stats.json

# Temporary files and directories
/tmp/
/.cache/
/.DS_Store
/.idea/
/*.swp
/*.swo
*.sublime*

# Node.js dependencies
/node_modules/
/npm-debug.log
yarn-error.log

# Mac-specific files
.DS_Store

# VS Code settings directory
.vscode/

# Local environment files
.env
